
# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Environment variables

.env

# Runtime data
# storage/
# data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System
.DS_Store
Thumbs.db
